 <div class="row">
     <div class="column">
        <div class="card">
                <div class="card-image">
                <figure class="image is-square">
                    <img src="https://versions.bulma.io/0.7.0/images/placeholders/1280x960.png" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                        <figure class="image is-48x48">
                            <img src="https://versions.bulma.io/0.7.0/images/placeholders/96x96.png" alt="Placeholder image">
                        </figure>
                        </div>
                        <div class="media-content">
                        <p class="title is-4">John Smith</p>
                        <p class="subtitle is-6">@johnsmith</p>
                        </div>
                    </div>
                
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                        <a href="#">#css</a> <a href="#">#responsive</a>
                        <br>
                        <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                    </div>  
                </div>
            </div>
        </div>  
        <div class="column">
            <div class="card">
                <div class="card-image">
                <figure class="image is-square">
                    <img src="https://versions.bulma.io/0.7.0/images/placeholders/1280x960.png" alt="Placeholder image">
                </figure>
                </div>
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                        <figure class="image is-48x48">
                            <img src="https://versions.bulma.io/0.7.0/images/placeholders/96x96.png" alt="Placeholder image">
                        </figure>
                        </div>
                        <div class="media-content">
                        <p class="title is-4">John Smith</p>
                        <p class="subtitle is-6">@johnsmith</p>
                        </div>
                    </div>
                
                    <div class="content">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        Phasellus nec iaculis mauris. <a>@bulmaio</a>.
                        <a href="#">#css</a> <a href="#">#responsive</a>
                        <br>
                        <time datetime="2016-1-1">11:09 PM - 1 Jan 2016</time>
                    </div>  
                </div>
            </div>
        </div>  

       <div class="column">
            <div class="field">
                <label class="label">Event Name</label>
                      <div class="control">
                            <input class="input" type="text" name="name"  placeholder="Text input" required>
                        </div>
            </div>
       

       <div class="field">
            <label class="label">Organizer</label>
                <div class="control">
                    <div class="select">
                        <select style="width: 400px;"  name = "organizer" >
                            <option selected="false" disabled="disabled">Select dropdown</option>
                            <option name="Music">Music Society</option>
                            <option name="CS">Department of Computer Science</option>
                            <option name="SU">Student Union</option>
                            <option name="AR">Registry</option>
                            <option name="CAS">Central Asian Society</option>
                            <option name="CO">Career Office</option>
                        </select>
                    </div>
                </div>
        </div>

        <div class="field">
            <label class="label">Start Date</label>
                <div class="control">
                    <input class="input" name="event_date" type="date" >
                </div>
        </div> 

        <div class="field">
            <label class="label">End Date</label>
                <div class="control">
                    <input class="input" name="event_date" type="date" >
                </div>
        </div> 
       
        <div class="field">
            <label class="label">Venue</label>
            <div class="control">
                <div class="select">
                <select name="venue" >
                    <option selected disabled="disabled">Select dropdown</option>
                    <option name="Old_Campus">Old Campus</option>
                    <option name="AAB702">AAB702</option>
                    <option name="WLB302">WLB302</option>
                    <option name="DLB205">DLB205</option>
                    <option name="Library">Library</option>
                </select>
             </div>
            </div>
       </div>
       <div class="field is-grouped">
            <div class="control">
                <button class="button is-link" type="submit">Submit</button>
            </div>
    </div>
</div> 
